* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #A5B2B5;
}

#title {
    text-align: center;
    background-color: #0F4C81;
    color: white;
    padding: 10px; 
}

h1 {
    background-color: #0F4C81;
}

#buttonHeader {
    margin-top: 10px;
    display: flex; 
    justify-content: center;
}

#cards {
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 250px; 
}

.book-card {
    text-align: center;
    color: black; 
    background-color: #F6F2D4;
    border: 2px solid #edf2f4;
    border-radius: 10px;
    margin: 10px; 
    padding: 15px; 
}

.card-title {
    font-weight: bold;
    word-break: break-all;
}